# Ignore Gradle files
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# OS-specific files
.DS_Store

# Ignore build outputs
/build
/captures
.externalNativeBuild
.cxx

# Keystore files (important for security)
*.keystore
*.jks

# Android Studio settings
/.idea/*
/*.iml

# Other unnecessary files
.vscode/
*.log
